# Terraform state
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# Local-only variable files
*.auto.tfvars
*.secret.tfvars

# Ignore backup files
*.backup
