
.terraform/
.terraform/*
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
*.tfvars
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


env/**/secrets.auto.tfvars
env/**/terraform.tfvars.local
env/**/backend.tfvars

.terraform.lock.hcl


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db


*.log
